html {
  background-color: #111111;
  color: white
}

.pokegrid {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
}

.pokecard {
  display:flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  flex-direction:column;
  align-items: center;
  transition: margin 0.2s ease-in, height 0.2s ease-in;
}

.pokecard:hover {
  cursor: pointer;
  background-color: #1F1F1F;
}

a {
  color:inherit;
  text-decoration: inherit;
}
